body{ 
    background-color: rgb(196, 164, 164);
    font-family: 'Courier New', Courier, monospace;
}


.login {
  width: 360px;
  margin: auto;
  padding: 10% 0 0;


}
.form{
    position: relative;
    max-width: 360 auto;
    background-color:rgba(214, 208, 216, 0.76);
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    color: rgb(14, 1, 1);
    
} .form input{
    box-sizing: border-box;
    margin: 0 0 15px;
    background:white;
    font-size: 15px;
 
}
.form button{
    text-transform: uppercase;
    width: 100px;
    padding: 15px;
    background: rgb(50, 168, 139);
} 
.form button:hover,.form button:active{
    background: rgb(20, 177, 177);
}

